#logo{
width: 120px;
height: 70px;
}

body{
    background-color: #ebeff5;
}
#total_orders{
    background-color: #4cb4c7;
}
#orders_delivered{
    background-color: #7abecc;
}
#orders_pending{
    background-color: #7cd1c0;
}